<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>My</title>
</head>
<body>
    <select class="form-select" aria-label="Default select example" id="input">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

    <div id="random_decimal">
        {{ x }}
        </div>

<script>





$(document).ready(function(){
    $("#input").change(function(){
        let val= $('#input').val();
        console.log(val)

        $.ajax({
            url:"/update_decimal",
            type: "post",
            dataType:"json",
            headers: {'Content-Type': 'application/json'}, //to send json type
            data: JSON.stringify({"data":val, //to send json type
                    "age":2,
                    "sum":"ds"
                }),
            success: function(result){ //on success we gonna take the data to update html
                                    // the simplest way to update html is by specifying div tag and replacing that tag
                                    // with new html that represents the data that's updated by url rule. 
                //$("#random_decimal").replaceWith(result);
                $("#random_decimal").append(result)
            }

        });
    });
 
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>